<!DOCTYPE HTML>
<html>
<head>
    <title>Sweater app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Hello, Guest</div>
<a href="/main" > Main page</a>
</body>
</html>